In [364]:
import config as creds
import psycopg2

In [365]:
def connect():
    
    # Set up a connection to the postgres server.
    conn_string = "host="+ creds.PGHOST +" port="+ "5432" +" dbname="+ creds.PGDATABASE +" user=" + creds.PGUSER \
                  +" password="+ creds.PGPASSWORD
    
    conn = psycopg2.connect(conn_string)
    print("Connected to AWS DataBase!")

    # Create a cursor object
    cursor = conn.cursor()
    
    return conn, cursor

conn, cursor = connect()

Connected to AWS DataBase!

In [366]:
import pandas as pd

In [367]:
df = pd.read_sql('select * from public."Projects"', conn)

In [368]:
df2 = df[~df['categories'].str.contains("Interiors|Interior")]

In [369]:
df2.categories = df2.categories.str.replace('&', ',')

/Users/chizhang/opt/anaconda3/lib/python3.8/site-packages/pandas/core/generic.py:5159: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[name] = value

In [370]:
df2.loc[:,'class'] = df2.categories.str.split(',',expand = True)[0].apply(lambda x:x.strip())

/Users/chizhang/opt/anaconda3/lib/python3.8/site-packages/pandas/core/indexing.py:1596: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[key] = _infer_fill_value(value)
/Users/chizhang/opt/anaconda3/lib/python3.8/site-packages/pandas/core/indexing.py:1745: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(ilocs[0], value)

In [371]:
df2

,url,categories,architects,location,name,class
1,https://www.archdaily.com/945238/hiding-house-...,Houses ...,gners: \nWutopia Lab ...,"Shanghai, China ...",Hiding House _ Wutopia Lab ...,Houses
2,https://www.archdaily.com/886827/the-modern-vi...,Offices ...,Ho Khue Architects ...,"Sơn Trà, Vietnam ...",The Modern Village Office _ Ho Khue Architects...,Offices
3,https://www.archdaily.com/598648/equestrian-ce...,"Stable, Swimming Pool, Heritage ...","Carlos Castanheira, Clara Bastai ...","Leça da Palmeira, Portugal ...",Equestrian Centre _ Carlos Castanheira + Clara...,Stable
4,https://www.archdaily.com/948759/aspen-communi...,Schools ...,Studio B Architecture + Interiors ...,"Snowmass, United States ...",Aspen Community School _ Studio B Architectur...,Schools
6,https://www.archdaily.com/948835/lrvo-house-ex...,Houses ...,Vous Architecture & Design ...,"Saint-Herblain, France ...",LRVO House Extension _ Vous Architecture & De...,Houses
...,...,...,...,...,...,...
1586,https://www.archdaily.com/909531/hacettepe-uni...,"Museum, Science Center, University ...",rkal Architects ...,"Ankara, Turkey ...",Hacettepe University- Museum and Center For Bi...,Museum
1587,https://www.archdaily.com/908622/house-in-port...,...,oão Vieira de Campos ...,"Oporto, Portugal ...",House in Porto 2 _ João Vieira de Campos ...,
1588,https://www.archdaily.com/909421/apartments-at...,Residential ...,lan Loci ...,"New Delhi, India ...",Apartments @ 143 _ Plan Loci ...,Residential
1589,https://www.archdaily.com/909352/haiyue-commun...,Cultural Center ...,&M DESIGN LAB ...,"Shantou, China ...",Haiyue Community Cultural Center _ L&M DESIGN ...,Cultural Center
1590,https://www.archdaily.com/909446/moss-garden-s...,Restaurant ...,tudioVASE ...,"Gangnam-gu, South Korea ...",Moss Garden _ studioVASE ...,Restaurant

In [361]:
df2.groupby('class').name.count().sort_values(ascending = False)/df2.shape[0]

class
Houses                    0.362883
Apartments                0.049710
Office Buildings          0.035626
Hotels                    0.033969
Mixed Use Architecture    0.025684
                            ...
Grocery Store             0.000829
Shopping Centers          0.000829
Government                0.000829
Fast Food                 0.000829
Zoo                       0.000829
Name: name, Length: 135, dtype: float64

In [323]:
df2.categories = df2.categories.str.split(',').apply(lambda list_label: [x.strip() for x in list_label])

In [324]:
df2 = df2[~df2.categories.apply(lambda x:len(x[0])==0)].reset_index(drop = True)

In [285]:
labels = set([])

In [286]:
for x in df2.categories:
    labels = labels.union(set(x))

In [287]:
import inflect
p = inflect.engine()

In [288]:
dictionary = {}

for x in labels:
    splitx = x.split(' ')
    if p.singular_noun(x):
        dictionary[x] = p.singular_noun(x)
    else:
        dictionary[x] = x
    if len(splitx) > 1 and (splitx[-1] == 'Architecture'):
        dictionary[x] = ' '.join(splitx[:-1])
    if splitx[0] == 'Other':
        dictionary[x] = 'Other'

In [289]:
target = pd.DataFrame(columns = list(set(dictionary.values())))

In [290]:
df3 = pd.concat([df2,target],1).fillna(0)

In [291]:
for i, row in df3.iterrows():
    for label in row.categories:
        df3.loc[i, dictionary[label]] = 1

In [292]:
df3[df3['Decoration'] == 1]

,url,categories,architects,location,name,Decoration,Heritage,Theater,Cruise Terminal,Greenhouse,...,Planetarium,Other,Exhibit,Performing Arts Center,Energy Plant,Concert House,Boathouse,Master Plan,Public,Retirement
366,https://www.archdaily.com/944163/santomate-res...,"[Restaurant, Renovation, Decoration, Ornament]",Daniela Bucio Sistos // Taller de Arquitectura...,"Morelia, Mexico ...",Santomate Restaurant _ Daniela Bucio Sistos __...,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [293]:
num_of_image = df3.iloc[:,5:].sum().sort_values(ascending = False);

In [297]:
num_of_image.iloc[:10]

House              441
Renovation          88
Apartment           68
Office Building     61
Hotel               41
Mixed Use           36
Restaurant          35
Extension           33
Residential         33
Sustainability      33
dtype: int64

In [295]:
num_of_image[num_of_image>20].index

Index(['House', 'Renovation', 'Apartment', 'Office Building', 'Hotel',
       'Mixed Use', 'Restaurant', 'Extension', 'Residential', 'Sustainability',
       'Installation', 'Museum', 'School', 'Office'],
      dtype='object')

In [305]:
important_classes = ['name','House','Apartment','Office Building','Hotel','Restaurant']

In [307]:
df4 = df3.loc[:,df3.columns.isin(important_classes)]

In [311]:
df4['Other'] = (df4.loc[:,['House','Apartment','Office Building','Hotel','Restaurant']].sum(axis = 1) == 0)*1

<ipython-input-311-90657e0796ae>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df4['Other'] = (df4.loc[:,['House','Apartment','Office Building','Hotel','Restaurant']].sum(axis = 1) == 0)*1

In [312]:
df4

,name,Hotel,Apartment,Restaurant,Office Building,House,Other
0,Hiding House _ Wutopia Lab ...,0,0,0,0,1,0
1,The Modern Village Office _ Ho Khue Architects...,0,0,0,0,0,1
2,Equestrian Centre _ Carlos Castanheira + Clara...,0,0,0,0,0,1
3,Aspen Community School _ Studio B Architectur...,0,0,0,0,0,1
4,LRVO House Extension _ Vous Architecture & De...,0,0,0,0,1,0
...,...,...,...,...,...,...,...
1171,Three Piece House _ TRIAS ...,0,0,0,0,1,0
1172,The Kamenice Brewery _ OTA atelier ...,0,0,0,0,0,1
1173,Gerroa House _ Bourne Blue Architecture ...,0,0,0,0,1,0
1174,"K Building, School of Architecture and Constru...",0,0,0,0,0,1
1175,Barn Gallery _ INCLINEDESIGN ...,0,0,0,0,1,0

In [313]:
df4.describe()

,Hotel,Apartment,Restaurant,Office Building,House,Other
count,1176.000000,1176.000000,1176.000000,1176.000000,1176.000000,1176.000000
mean,0.034864,0.057823,0.029762,0.051871,0.375000,0.456633
std,0.183513,0.233508,0.170002,0.221860,0.484329,0.498328
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,0.000000,0.000000,0.000000,0.000000,1.000000,1.000000
max,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000